<div class="row">
    <div class="col-2 text-center" style="padding-top: 14px;">
        <div class="container mb-4">
            <img src="../../assets/ig.png" alt="logo" style="height: 100px; width: 200px;">
        </div>
    </div>
    <div class="col-8">
        <div class="text-center pt-2 pb-1">
            <img src="./assets/sitlogo.png" alt="logo" class="uyt">
        </div>
    </div>
    <div class="col-2 text-center">
        <img src="../assets/userico.png" alt="icon" class="tyu">
        <br>
        <span>{{ receivedData }}</span>
        <br>
        <span>{{name}}</span>
        
    </div>
</div>