
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6" style="margin-bottom: 50px;">
            <div class="card mb-4" id="wq">
                <div class="background-container">
                <div class="card-body text-center">
                    <h2 style="color: orange;display: inline-block;" class="fade-in">Notice!</h2>

                    <div class="container mt-5 mb-5">
                        <ul class="list-group">
                          <li class="list-group-item"><a href="../assets/notice.pdf" target="_blank">Exam Form filling for First year students are live! </a></li>
                          <li class="list-group-item"><a href="../assets/notice.pdf" target="_blank">Result annoucement of third year sem 5 for all branches tomarrow</a></li>
                          <li class="list-group-item"><a href="../assets/notice.pdf" target="_blank">Photo copy and rechecking for 2 year student closes saturday </a></li>
                          <li class="list-group-item"><a href="../assets/notice.pdf" target="_blank">Re-exam time-table announced</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>